/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* splash */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #001233;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #001233;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  font-size: 50px;
}

body,
html {
  margin: 0;
  width: 100;
  background-color: #001233;
}

.navbar {
  padding-left: 10px;
  padding-right: 5px;
  background-color: #001233;
}

.nav-link {
  margin-right: 50px;
  padding: 14px 25px;
}

.resumeDL:link,
.resumeDL:visited {
  background-color: rgb(244, 67, 54, 25%);
  color: #f44336;
  padding: 13px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  width: 120px;
  border: solid 3px;
  border-color: #f44336;
  font-weight: 700;
}

.resumeDL:hover,
.resumeDL:active {
  background-color: rgb(255, 0, 0, 45%);
  color: white;
}

/* background */
h1 {
  font-family: "Limelight", cursive;
  font-size: 100px;

  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(./whitestripe.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

h2 {
  font-family: "Courier Prime", monospace;
  font-size: 30px;
}

h3 {
  font-family: "Courier Prime", monospace;
}

.hi {
  font-size: 20px;
  color: #cac0b3;
  font-family: "Courier Prime", monospace;
  font-weight: 600;
}

.heroBG {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
}

.hero-text1 {
  display: flex;
  justify-content: center;
}

.hero-text2 {
  display: flex;
  justify-content: center;
}

.sub-hero-text2 {
  font-family: "Courier Prime", monospace;
  color: #cac0b3;
  font-size: 40px;
  text-align: center;
}

.sub-text {
  font-family: "Courier Prime", monospace;
  color: #cac0b3;
  font-size: 20px;
  /* span text effect */
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.btn-hero {
  justify-content: center;
  display: flex;
}

.aboutBtn {
  display: flex;
}

.aboutBtn:link,
.aboutBtn:visited {
  background-color: rgb(244, 67, 54, 25%);
  color: #f44336;
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  width: 300px;
  border: solid 3px;
  border-color: #f44336;
  font-weight: 700;
}

.aboutBtn:hover,
.aboutBtn:active {
  background-color: rgb(255, 0, 0, 45%);
  color: white;
}

.NameHeadline :hover {
  font-style: italic;
}

/* text effect web developer*/

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(19) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(20) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(21) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(22) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(23) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(24) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(25) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(26) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(27) {
  animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(28) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(29) {
  animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(30) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(31) {
  animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(32) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(33) {
  animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(34) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* 2nd part (about me) */

.secondspace {
  height: 150px;
}

.myphoto {
  height: 360px;
  width: 360px;
  flex-wrap: wrap;
  margin-right: 200px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.aboutmePhotoBox {
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.aboutmeBox {
  flex-wrap: wrap;
  width: 500px;
  color: #cac0b3;
  margin-left: 200px;
}

.mystory {
  font-size: 20px;
}

.thirdspace {
  height: 150px;
}

@media (max-width: 576px) {
  .navbar-toggler {
    display: inline;
    padding-left: 20rem;
    margin-left: 5rem;
  }

  .fade-in {
    display: flex;
    align-items: center;
    margin-top: 15rem;
    margin-left: 14rem;
  }

  .heroBG {
    margin-left: 7rem;
  }

  .hero-text1 {
    display: flex;
    justify-content: center;
  }

  .sub-hero-text2 {
    margin-top: 6.5rem;
  }

  .NameHeadline {
    justify-content: center;
  }

  .aboutmePhotoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
  }
  .aboutmeBox {
    margin-left: 1px;
  }
  .myphotobox {
    justify-content: center;
  }
}
